{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('/images/{{background}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container no-list">
    <br><br>
    <h2>Página não encontrada.</h2>
    <br>
</div>


{{>partials/footer}}